.aboutus {
    height: 100vh;
    background-image: url(../img/img-about-1.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;

    .container {
        top: 15vh;
        h1 {
            color: $linkcolor;
        }
        p {
            color: $textcolorblack;
            padding-bottom: 15px;
            padding-right: 15px;
            padding-left: 15px;
            border-radius: 25px;
            border-bottom: 5px solid $linkcolor;
            border-left: 5px solid $linkcolor;
        }
    }
}