$linkcolor: #FB5B21;
$cardbackground: #232A35;
$textcolorblack: #2e323f;
///////////////////
$font:Poiret One;
$font:Poiret OnePoiret OnePoiret OnePoiret One;
$font:Poiret OnePoiret OnePoiret One;
$font:Poiret OnePoiret One;
$font:Poiret One;
$color1: #73c6cd;
$color2: #CF799E;
$color3:#62aed6;
$color4: #e7b46c;
$color5: #6491D5;
$color6: #3E3039;
$color7: #E9EBEE;
